.img-hero-section{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin: 20px 60px 0 0;
    transform: rotate(3deg);
}
.hero-img-container{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
}
.titulo-principal{
    color: #5C1D52;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}
.texto-resaltado{
    color: #D66D81;
}
.badge-infantil{
    display: inline-block;
    background-color: #f3e5f5; 
    color: #8e44ad;           
    font-size: 0.9rem;        
    font-weight: 700;         
    text-transform: uppercase; 
    padding: 8px 20px;        
    border-radius: 50px;      
    letter-spacing: 1px;      
    margin-bottom: 15px
}

/* Media query para dispositivos medium (tablets) */
@media(max-width: 1024px){
    .img-hero-section{
        margin: 50px 30px 0 10px;
        transform: rotate(2deg);
        width: 700px;
    }
}

/* Media query para dispositivos mobiles */
@media(max-width: 768px){
    .img-hero-section{
        margin: 50px 0 0 0;
        transform: rotate(3deg);
        width: 380px;
    }
    .texto-resaltado{
        font-size: 50px;
    }
}
